html {
	box-sizing: border-box;
}
*, *::after, *::before {
	box-sizing: inherit;
}
body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}

.container {
	max-width: 1760px;
	margin: 0 auto;
}

.header {
    padding-top: 15px;
}
.header__info {
    margin-bottom: 25px;
}
.header__info__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__info__logo {
	padding-right: 26px;
	border-right: 1px solid #E5E5E5;
}
.header__info__adres {
    display: flex;
    justify-content: space-between;
    width: 885px;
}
.header__info__adres__el {
	margin-bottom: 17.5px;
	color: #397FD1;
	font-size: 24px;
	position: relative;
}
.header__info__adres__el::before {
    content: "";
    background-image: url('../img/header/header__info-adres.svg');
    position: absolute;
    background-size: 100% 100%;
    top: -2px;
    left: -35px;
    width: 21px;
    height: 26.5px;
}
.header__info__contacts {
    border-left: 1px solid #E5E5E5;
    padding-left: 26px;
    max-width: 311px;
}
.header__info__contacts__phone {
	margin-bottom: 35px;
}
.header__info__contacts__phone a {
	color: #EB3349;
	font-weight: 700;
	text-decoration: none;
	font-size: 36px;
}
.header__info__contacts__button {
	text-align: center;
	margin-bottom: 35px;
}
.header__info__contacts__button a {
	color: #397FD1;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
	border: 2px solid #397FD1;
	border-radius: 20px;
	padding: 10px 40px;
}
.header__info__contacts__link a {
	font-weight: 400;
	font-size: 24px;
	color: #797979;
	text-decoration-line: underline;
}

.nav {
	background-color: #E9F2FD;
}
.menu__list {
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
}
.menu__list a {
	color: #397fd1;
	text-decoration: none;
	font-size: 22px;
	font-weight: 700;
}

.top {
	background: url('../img/top/top-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 106% 100%;
}
.container {}
.top__top-part {
	padding-top: 35px;
}
.btn__menu {
	width: 40px;
	display: none;
}
.btn__menu div {
	width: 40px;
	height: 5px;
	background-color: #000;
	margin-bottom: 5px;
}
.top__title {
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 24px;
	background: #FFFFFF;
	box-shadow: 2px 5px rgb(57, 127, 209),
	0px 0px 17.9836px rgba(57, 127, 209, 0.25);
	border-radius: 25.9698px;
	padding: 15px 0;
	max-width: 80%;
	margin: 0 auto;
	color: #797979;
}
.top__desc {
    padding-top: 275px;
    margin-bottom: 100px;
}
.top__desc__row {
	display: flex;
	justify-content: space-around;
}
.top__desc__el {
	max-width: 526px;
	background-color: #fff;
	border-radius: 25.9698px;
	padding: 20px 25px;
	box-shadow: 2px 5px rgb(57, 127, 209),
	0px 0px 17.9836px rgba(57, 127, 209, 0.25);
}
.top__desc__el__title {
    text-transform: uppercase;
    color: #EB3349;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px;
}
.top__desc__el__text {
    font-size: 24px;
    color: #797979;
}
.top__button {
	text-align: center;
	margin-bottom: 125px;
}
.top__button a {
	font-weight: 700;
	font-size: 35px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px 35px;
	background: linear-gradient(360deg, #EB3349 -19.12%, #F45C43 100%);
	border-radius: 15px;
}

.serv {
	padding-top: 116px;
	background: linear-gradient(180deg, #E9F2FD 0%, rgba(233, 242, 253, 0) 100%);
	margin-bottom: 106px;
}
.container {}
.serv__types {}
.title {
	font-size: 38px;
	font-weight: 700;
	color: #797979;
	text-transform: uppercase;	
	margin-bottom: 77px;

}
.serv__types__types {
	max-width: 1600px;
	margin: 0 auto;
}
.serv__types__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
}
.serv__type__el {
	display: flex;
	width: 254px;
	flex-direction: column;
	align-items: center;
}
.serv__type__el__icon {
	margin-bottom: 35px;
	pointer-events: none;
}
.serv__type__el__title {
	font-weight: 400;
	font-size: 22px;
	color: #797979;
	text-align: center;
}
.serv__microsc {
	background: #FFFFFF;
	box-shadow: 2px 5px rgb(57, 127, 209),
	0px 0px 17.9836px rgba(57, 127, 209, 0.25);
	border-radius: 26px;
	padding: 30px 65px;
	margin-bottom: 130px;
}
.serv__microsc__info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.serv__microsc__info__icon {
	width: 200px;
}
.serv__microsc__info__text {}
.serv__microsc__info__text__title {
	font-size: 40px;
	color: #EB3349;
	font-weight: 700;
	margin-bottom: 18px;
	text-transform: uppercase;
}
.serv__microsc__info__text__desc {
	font-size: 30px;
	color: #505050;
}
.serv__microsc__under, .serv__microsc__under__ad {
	font-size: 25px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	color: #505050;
}
.serv__rate__title {}
.title {}
.serv__rate__info {}
.serv__rate__info__row {
	display: flex;
}
.serv__rate__info__el {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.serv__rate__info__icon {
	pointer-events: none;
}
.serv__rate__info__icon {}
.rate__info__link {}
.serv__rate__info__est {}
.serv__rate__info__est__row {
	width: 160px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	pointer-events: none;
}
.serv__rate__info__est__fstar {}
.serv__rate__info__rev {
	text-align: center;
	font-size: 24px;
	color: #797979;
	font-weight: 400;
}

.calc {
	background-image: url('../img/calc/calc-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 112px;
	padding-bottom: 120px;
}
.container {}
.calc__title {}
.title {}
.calc__form {}
.calc__form__row {
	display: flex;
	justify-content: space-between;
}
.calc__form__left__row__top input {
	outline: none;
	border: 0;
	background-color: #fff;
	box-shadow: 2px 5px rgb(57, 127, 209),
	0px 0px 17.9836px rgba(57, 127, 209, 0.25);
	border-radius: 24px;
	height: 94px;
	padding: 25px 20px 25px 50px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #3F3E3E;
}
.calc__form__left__row__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 32px;
	width: 1075px;
}
.calc__form__left__row__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 480px;
}
.calc__form__left__row__bottom input {
	scale: 2;
}
.calc__form__checkbox__title {
	font-size: 22px;
	color: #3F3E3E;
}
.calc__form__right input {
	width: 546px;
	height: 94px;
	background: linear-gradient(360deg, #EB3349 0%, #F45C43 100%);
	box-shadow: 0px 0px 16.2177px rgba(0, 0, 0, 0.25);
	border-radius: 24px;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 40px;
	border: 0;
}
.callb__checkbox input {
	scale: 2;
}

#calc__name {
	width: 474px;
	position: relative;
}
#calc__name + label {
	position: relative;
}
#calc__name + label::before {
    content: "";
    background-image: url('../img/calc/name-before.png');
    position: absolute;
    background-size: 100% 100%;
    top: 35px;
    left: -462px;
    width: 21px;
    height: 26.5px;
}

#calc__phone {
	width: 578px;
}
#calc__phone + label {
	position: relative;
}
#calc__phone + label::before {
    content: "";
    background-image: url('../img/calc/phone-before.png');
    position: absolute;
    background-size: 100% 100%;
    top: 35px;
    left: -560px;
    width: 21px;
    height: 26.5px;
}



.we {
	background-color: #fff;
	padding-top: 112px;
	margin-bottom: 118px;
}
.we__title {}
.title {}
.we__people {}
.we__people__row {
	display: flex;
	justify-content: space-between;
	max-width: 1250px;
	margin: 0 auto;
}
.we__people__column {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 370px;
	background: #FFFFFF;
	border-radius: 25.6056px;
	box-shadow: 2px 5px rgb(57, 127, 209),
	0px 0px 17.9836px rgba(57, 127, 209, 0.25);
	padding: 40px;
}
.we__people__ph {
	filter: drop-shadow(0px 0px 14.8205px rgba(0, 0, 0, 0.25));
	border-radius: 50%;
}
.we__people__name {
	font-weight: 700;
	font-size: 29px;
	line-height: 36px;
	color: #EB3349;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
}
.we__people__exp {
	font-size: 23.8px;
	text-align: center;
	color: #797979;
	font-weight: 400;
	margin-bottom: 35px;
}
.we__people__desc {
	font-weight: 400;
	font-size: 23.8px;
	line-height: 29px;
	text-align: center;
	color: #3F3E3E;
}


.certif {
	background-image: url('../img/certif/certif-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	padding: 120px 0;
}
.certif__doc {}
.certif__doc__top-part {}
.certif__doc__top-part__row {
	display: flex;
	justify-content: space-between;
}
.certif__doc__title {}
.title {}
.certif__doc__sliderpage {
	font-weight: 400;
	font-size: 29px;
	letter-spacing: 0.05em;
	color: #397FD1;
}
.certif__doc__sliderpage span {
	color: #EB3349;
	font-weight: 700;
}
.certif__doc__info {
	margin-bottom: 120px;
}
.slick__slider__doc {
}


.slick__slider__doc div {
    height: 650px;
    transition: transform ease 0.3s;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slick-list {
	padding: 130px 60px ;
}
#doc_1 {
	background-image: url('../img/certif/doc/1.png');
}
#doc_2 {
	background-image: url('../img/certif/doc/2.png');
}
#doc_3 {
	background-image: url('../img/certif/doc/3.png');
}
#doc_4 {
	background-image: url('../img/certif/doc/4.png');
}
#doc_5 {
	background-image: url('../img/certif/doc/5.png');
}
.slick-center {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.1);
    height: 600px;
    margin: 0 auto;
}


.slick__slider__clin div {
    height: 700px;
    transition: transform ease 0.3s;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#clin_1 {
	background-image: url('../img/certif/clin/1.png');
}
#clin_2 {
	background-image: url('../img/certif/clin/2.png');
}
#clin_3 {
	background-image: url('../img/certif/clin/3.png');
}
#clin_4 {
	background-image: url('../img/certif/clin/4.png');
}
#clin_5 {
	background-image: url('../img/certif/clin/5.png');
}
.certif__clin__top-part__row {
	display: flex;
	justify-content: space-between;
}
.certif__clin__title {}
.title {}
.certif__clin__sliderpage {
	font-weight: 400;
	font-size: 29px;
	letter-spacing: 0.05em;
	color: #397FD1;
}
.certif__clin__sliderpage span {
	color: #EB3349;
	font-weight: 700;
}

.prices {
	background-image: url('../img/prices/bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	padding-top: 113px;
}
.prices__title {}
.title {}
.prices__blocks {}
.prices__blocks__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}
.prices__blocks__el {
	width: 397px;
	flex-direction: column;
	align-items: center;
	background: #FFFFFF;
	box-shadow: 2px 5px rgb(57, 127, 209),
	0px 0px 17.9836px rgba(57, 127, 209, 0.25);
	border-radius: 25.6056px;
	padding: 41px;
}
.prices__blocks__title {
	font-weight: 700;
	font-size: 29px;
	line-height: 36px;
	text-transform: uppercase;
	color: #EB3349;
	text-align: center;
	margin-bottom: 48px;
	min-height: 79px;
}
.prices__blocks__choise__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 91px;
	min-height: 87px;
}
.prices__blocks__prev-button {}
.prices__block__par {
	font-size: 23.8px;
	line-height: 29px;
	color: #797979;
	max-width: 235px;
	text-align: center;
}
.prices__blocks__next-button {}
.prices__blocks__price {
	font-weight: 700;
	font-size: 23.8px;
	line-height: 29px;
	color: #505050;
	text-align: center;
}
#last__prices__blocks__row {
	margin-bottom: 0;
}


.questions {
	background: linear-gradient(180deg, #E9F2FD 0%, rgba(233, 242, 253, 0) 100%);
	padding-top: 118px;
}

/*accordion*/
.questions__info__accordion {
  position: relative;
}
.accordion {
  background-color: #eee;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 25px;
  background: #FFFFFF;
  border-radius: 25.6056px;
  box-shadow: 2px 5px rgb(57, 127, 209),
  0px 0px 17.9836px rgba(57, 127, 209, 0.25);
  font-weight: 400;
  font-size: 29px;
  line-height: 36px;
  text-align: left;
  padding: 23px 40px;
  color: #505050;
}
.accordion_active {
	background: linear-gradient(180deg, #F45C43 0%, #EB3349 100%);
	cursor: pointer;
	width: 100%;
	border: none;
	outline: none;
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 29px;
	line-height: 36px;
	text-align: left;
	padding: 23px 40px;
	color: #fff;

	border-top-left-radius: 25.6056px;
	border-top-right-radius: 25.6056px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.questions__accordion_icon {
	width: 32px;
	height: 23px;
	background-image: url('../img/questions/close.png');
	background-repeat: no-repeat;
	position: absolute;
	right: 35px;
	top: 35px;
	cursor: pointer;
}
.__active_icon {
	width: 32px;
	height: 23px;
	background-image: url('../img/questions/open.png');
	position: absolute;
	right: 35px;
	top: 35px;
}
.panel {
  margin-top: -25px;
  padding: 15px 46px;
  display: none;
  background-color: white;
  overflow: hidden;
  margin-bottom: 25px;
  box-shadow: 2px 5px rgb(57, 127, 209),
  0px 0px 17.9836px rgba(57, 127, 209, 0.25);

  border-bottom-right-radius: 25.6056px;
  border-bottom-left-radius: 25.6056px;

  font-size: 23.8px;
  color: #797979;
  font-weight: 300;
}
/*accordion*/

.callb {
	padding-top: 118px;
	margin-bottom: 130px;
	background-image: url('../img/callb/bg.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 48%;
}
.callb__form {
	display: flex;
	flex-direction: column;
	width: 661px;
}
.callb__checkbox {
	display: flex;
	justify-content: space-between;
	max-width: 485px;
}
.callb__checkbox__title {
	font-size: 22.7048px;

	color: #3F3E3E;
}
.callb__form__phone {
	width: 100%;
	outline: none;
	border: 0;
	background-color: #fff;
	box-shadow: 2px 5px rgb(57, 127, 209),
	0px 0px 17.9836px rgba(57, 127, 209, 0.25);
	border-radius: 24px;
	height: 94px;
	padding: 25px 20px 25px 70px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #3F3E3E;
	margin-bottom: 32px;
}
.callb__form__textarea {
	width: 100%;
	outline: none;
	border: 0;
	background-color: #fff;
	box-shadow: 2px 5px rgb(57, 127, 209),
	0px 0px 17.9836px rgba(57, 127, 209, 0.25);
	border-radius: 24px;
	padding: 25px 20px 25px 70px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #3F3E3E;
	resize: none;
	min-height: 335px;
	margin-bottom: 63px;
}
.callb__form__button {
	width: 545px;
	background: linear-gradient(360deg, #EB3349 0%, #F45C43 100%);
	box-shadow: 0px 0px 16.2177px rgba(0, 0, 0, 0.25);
	border-radius: 24px;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 40px;
	border: 0;
	height: 93px;
	margin-bottom: 60px;
}

#callb_phone + label {
	position: relative;
}
#callb_phone + label::before {
    content: "";
	background-image: url('../img/calc/phone-before.png');
	position: absolute;
	background-size: 100% 100%;
	top: -100px;
	left: 17px;
	width: 43px;
	height: 44px;
}

#callb_textarea + label {
	position: relative;
}
#callb_textarea + label::before {
    content: "";
	background-image: url('../img/callb/textarea-icon.png');
	position: absolute;
	background-size: 100% 100%;
	top: -380px;
	left: 17px;
	height: 43.8px;
	width: 43.8px;
}


.footer {
	background-color: #E9F2FD;
	padding-top: 113px;
	padding-bottom: 129px;		
}
.container {
}
.footer__title {
}
.title {
}
.footer__info {
}
.footer__info__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 30px;
}
.footer__info__column {
	margin-bottom: 17.5px;
	color: #397FD1;
	font-size: 24px;
	line-height: 37px;
	width: 381px;
}
.footer__info__column a {
	margin-bottom: 17.5px;
	color: #397FD1;
	font-size: 24px;
	text-decoration: none;
	line-height: 23px;
}
.footer__info__column__adres {
	margin-bottom: 43px;
	position: relative;
}
.footer__info__column__phone {
	position: relative;
}
.footer__info__column__mail {
	position: relative;
}
#footer__mail__last {
	margin-bottom: 50px;
}
.footer__info__column__sched {
	position: relative;
	left: -32px;
}
.footer__info__column__adres::before {
    content: "";
    background-image: url('../img/header/header__info-adres.svg');
    position: absolute;
    background-size: 100% 100%;
    top: 4px;
	left: -33px;
    width: 21px;
    height: 26.5px;
}
.footer__info__column__phone::before {
    content: "";
    background-image: url('../img/footer/phone.svg');
    position: absolute;
    background-size: 100% 100%;
    top: -2px;
    left: -35px;
    width: 21px;
    height: 26.5px;
}
.footer__info__column__mail::before {
	content: "";
    background-image: url('../img/footer/mail.svg');
    position: absolute;
    background-size: 100% 100%;
    top: 3px;
	left: -35px;
    width: 21px;
    height: 26.5px;
}

#header__info__mobile {
	display: none;
}
.header__info__ad-logo {
	display: none;
}


.slick-slider {
	max-width: 96%;
	margin: 0 auto;
}
.prices__blocks__choise__row a {
	cursor: pointer;
}
.none {
	display: none;
}
.serv__microsc__under__ad {
	display: none;
}



.secondpage__top {
	background-image: url('../img/secondpage_top/bg.png');
}
.top__info {
    padding-top: 68px;
    margin-bottom: 145px;
}
.top__info__title {
	font-size: 64px;
	line-height: 78px;
	font-weight: 700;
	color: #397FD1;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-transform: uppercase;
	margin-bottom: 35px;
}
.top__info__text {
	font-size: 36px;
	line-height: 44px;
	align-items: center;
	font-weight: 400;	
	color: #505050;
	margin-bottom: 75px;

}
.top__button__secondpage {
	text-align: left;
}
.top__button__secondpage a {
	font-weight: 700;
	font-size: 35px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px 75px;
	background: linear-gradient(360deg, #EB3349 -19.12%, #F45C43 100%);
	border-radius: 15px;
}
.top__offer {}
.top__offer__row {
	display: flex;
	justify-content: space-between;
}
.top__offer__el {
	width: 377.3px;
	height: 98.08px;
	background: #FFFFFF;
	box-shadow: 2px 5px rgb(57, 127, 209),
	0px 0px 17.9836px rgba(57, 127, 209, 0.25);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18.5929px;
}
.top__offer__el__title {
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;
	text-transform: uppercase;

	color: #EB3349;
}

.impl {
	background-color: #fff;
	padding-top: 185px;
	margin-bottom: 192px;
}
.container {}
.impl__title {}
.title {}
.impl__info {}
.impl__info__row {
	display: flex;
	justify-content: space-between;
}
.impl__info__el {
	width: 316.45px;
	height: 475.08px;
	background: linear-gradient(180deg, rgba(191, 220, 255, 0.2) 0%, rgba(233, 242, 253, 0) 100%), #FFFFFF;
	border-radius: 25.6056px;
	box-shadow: 2px 5px rgb(57, 127, 209),
	0px 0px 17.9836px rgba(57, 127, 209, 0.25);
	display: flex;
	align-items: center;
	justify-content: center;
}


.appoint {
	background-image: url('../img/appoint/bg.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	padding-top: 114px;
	min-height: 448px;
}
.container {}
.appoint__title {}
.title {}
.appoint__button {
	width: 375px;
	height: 93px;
	display: flex;
	align-items: center;
	justify-content: center;

	background: linear-gradient(360deg, #EB3349 -19.12%, #F45C43 100%);
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
	border-radius: 15px;

}
.appoint__button a {
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
}

.process {
	padding-top: 180px;
	margin-bottom: 145px;
}
.container {}
.process__title {}
.title {}
.process__info {}
.process__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 68px;
}
.process__info__el {
	width: 542.57px;
	height: 492px;
	background-color: #fff;
	box-shadow: 2px 5px rgb(57, 127, 209),
	0px 0px 17.9836px rgba(57, 127, 209, 0.25);
	border-radius: 34.9944px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
}
.process__info__el__icon {
	max-height: 240px;	
	pointer-events: none;
}
.process__info__el__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	text-transform: uppercase;
	color: #EB3349;
	margin-bottom: 10px;
}
.process__info__el__text {
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;
	color: #797979;
}

.adv {
	background: #E9F2FD;
	padding-top: 86px;
}
.container {}
.adv__title {}
.title {}
.adv__info {}
.adv__info__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.adv__info__img {}
.adv__info__col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 700px;
}
.adv__info__col__el {
	width: 842px;
	height: 177px;
	border-radius: 25.6056px;
	background-color: #fff;
	box-shadow: 2px 5px rgb(57, 127, 209),
	0px 0px 17.9836px rgba(57, 127, 209, 0.25);
	padding: 41px 33px;
}
.adv__info__col__el__title {
	font-weight: 700;
	font-size: 25px;
	line-height: 31px;
	text-transform: uppercase;

	color: #EB3349;

	margin-bottom: 12px;
}
.adv__info__col__el__text {
	font-size: 24px;
	line-height: 29px;
	font-weight: 300;
	color: #797979;
}

.adv .serv__rate {
	padding-top: 194px;
	margin-bottom: 173px;
	background-color: #fff;
}

.secondpage_price {
	background-image: url('../img/secondpage_price/bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.container {}
.prices__title {}
.title {}
.prices__column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 673px;
}
.price__item {
	max-width: 1754px;
	height: 93px;
	border-radius: 24.3266px;
	background-color: #fff;
	box-shadow: 2px 5px rgb(57, 127, 209),
	0px 0px 17.9836px rgba(57, 127, 209, 0.25);
	padding: 27px 38px;
}
.price__item__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.price__item__text {
	font-size: 29px;
	line-height: 37px;
	font-weight: 400;

	color: #797979;
}
.price__item__cost {
	font-weight: 700;
	font-size: 24px;
	line-height: 37px;

	color: #EB3349;

}



.thirdpage__top__offer__row {
	max-width: 1205px;
	margin: 0 auto 105px;
}
.top__info__main__text {
	font-weight: 700;
	font-size: 64px;
	line-height: 78px;
	color: #397FD1;
	margin-bottom: 90px;

}


.fourthpage__top {
	background-image: url('../img/fourthpage_top/bg.png');
	margin: 0 auto 105px;
}

.serv__microsc__info__text__desc__list {
	padding-top: 20px;
}
.serv__microsc__info__text__desc__list li {
	margin-bottom: 10px;
}


.fifthpage__top__info__main__text {
    margin-bottom: 37px;
}
.fifthpage__top {
	background-image: url('../img/fifthpage_top/bg.png');
}
.p5__price {
    margin-bottom: 105px;
}
.p5__price__title {}
.title {}
.p5__price__info {}
.p5__price__el {
	width: 450px;
	flex: 1 1 auto;
	margin: 25px 0;
}
.p5__price__el__row {
	display: flex;
	justify-content: flex-start;
}
.p5__price__el__icon {
	width: 128px;
	height: 155px;
}
.p5__price__el__text {
    margin-left: 19px;
}
.p5__price__el__text__title {
	font-weight: 700;
	font-size: 29px;
	line-height: 36px;
	text-transform: uppercase;
	margin-bottom: 10px;

	color: #EB3349;

}
.p5__price__el__text___text {
	font-weight: 400;
	font-size: 23.7966px;
	line-height: 29px;
	color: #797979;
}
.p5__treat {
	padding-top: 77px;
	margin-bottom: 185px;
	background: linear-gradient(180deg, #E9F2FD 0%, rgba(233, 242, 253, 0) 100%);
}
.p5__treat__top {
	background: linear-gradient(180deg, #E9F2FD 0%, rgba(233, 242, 253, 0) 100%);
}
.fithpage__calb {
	background-image: url('../img/fifthpage_callb/bg.png');
}
.p5__price__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.fifthpage_prices {
	background-image: url('../img/fifthpage_prices/bg.png');
}